<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET" />

	<uses-permission android:name="android.permission.CAMERA" />

	<uses-feature
		android:name="android.hardware.camera"
		android:required="false" />

	<uses-feature
		android:name="android.hardware.camera.ar"
		android:required="false" />

	<application
		android:allowBackup="true"
		android:fullBackupOnly="true"
		android:icon="@mipmap/icon_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/Theme.MobileSdkExampleApp">

		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize"
			android:exported="true"
			android:theme="@style/Theme.MobileSdkExampleApp.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<meta-data
			android:name="com.google.ar.core"
			android:value="optional" />
	</application>
</manifest>
